{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

    <link rel="stylesheet" type="text/css" href="{% static 'css/stylos.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/materialize.min.css' %}">
    <!--link rel="stylesheet" type="text/css" href="{% static 'css/jquery-confirm.min.css' %}">

    <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script-->
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>

    <!--script type="text/javascript" src="{% static 'app_valanti/templates/js/jquery.validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'app_valanti/templates/js/jquery-confirm.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'app_valanti/js/imagen_cargando.js' %}"></script-->


</head>
<body>

{% block content %}
{% endblock %}
</body>
</html>